<script src="/js/socket.io.js"></script>
<script src="/js/jquery.min.js"></script>

<video id="video" />

<script>

$(document).ready(function(){
	var socket = io();
	var mediaSource = new MediaSource();
	document.getElementById('video').src = window.URL.createObjectURL(mediaSource);
	mediaSource.addEventListener('sourceopen', function(event) {
		var sourceBuffer = mediaSource.addSourceBuffer('video/mp4;codecs=avc1.4200c0');
		// connect to socket.io and emit the <command>
		socket.on('chunk', function (data) {
			sourceBuffer.append(new Uint8Array(data));
		});
	});
	socket.emit('getvideo');
});
</script>