<html>
	<head>
	<!--  
		https://bootswatch.com/cerulean/   
		https://datatables.net/examples/advanced_init/length_menu.html
	-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/js/socket.io.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.dataTables.min.js"></script>
		<script src="/js/dataTables.bootstrap.min.js"></script>
		<script src="/js/bootstrap-slider.js"></script>
		<link rel="stylesheet" href="/css/bootstrap-cerulean-theme.css" media="screen">
		<link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-slider.css">
		<link rel="stylesheet" href="/css/custom.css">
		<title>
			WWM
		</title>
		<style>
		
		
		</style>
	</head>
	<body id="body" style="background-color:#ccddff;">
		<!--	NAVBAR	-->
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						Watch With Me
					</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<!-- <ul class="nav navbar-nav">
						 <li class="active">
							<a href="#">
								Home 
								<span class="sr-only">
									(current)
								</span>
							</a>
						</li> 
					</ul> -->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" id="title2">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!--	NAVBAR END	-->
		
		
		<!--	BODY CONTAINER	-->
		<div class="container" id="mainContainer" style="background-color:#99bbff;">
			<!--	LOGIN	-->
			<div class="row" id="userDetails">
				<div class="col-md-4"></div>
				<div class="form-group col-md-4 offset-md-4">
					<label class="control-label">Username</label>
					<div class="input-group">
						<input type="text" class="form-control" id="usernameInput" placeholder="Type username here..." />
						<span class="input-group-btn">
							<button class="btn btn-primary" id="setUsername">Submit!</button>
						</span>
					</div>
				</div>
			</div>
			<!--	LOGIN END	-->
			
			<!--	LOBBY	-->
			<div class="row" id="roomManagement" hidden style="margin-left:1%;">
				<div class="row">
					<div class="col-md-12">
						<h1 class="">
							Currently in lobby
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-7">
								<input type="text" class="form-control" id="createRoomInput" />	
							</div>
							<div class="col-md-5">
								<button class="btn btn-primary" id="createRoom">
									Create
								</button>
							</div>
						</div>
					</div>
					
					<div class="col-md-7">
						<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
							
						</table>
					</div>
				</div>
			</div>
			<!--	LOBBY END	-->
			
			<!--	ROOM	-->
			<div class="row" style="margin-left:1%;" hidden id="adminMainControl">
				<div class="row">
					<div class="col-md-8">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="row" id="adminPanel" hidden>
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-11">
												<input type="text" id="ytLink" style="width:100%;" class="form-control" value="https://www.youtube.com/watch?v=LODkVkpaVQA">
												</input>
											</div>
											<div class="col-md-1">
												<button id="submYtLink" class="btn btn-primary">
													GO
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-11" id="videoDownloadProgressStatus"> </div>
								</div>
							</div>
							<div class="panel-body" id="videoPanel">
								<video id="videoPlayer" style="width:100%" controls="false">
									<source src="" type="video/mp4" id="videoUrl">
								</video>
								<div id="videoBarContainer">
									<div id="videoBar">
										<div class="col-md-8">
											<button id="playVid" class="glyphicon glyphicon-play"></button>
											<button id="pauseVid" class="glyphicon glyphicon-pause"></button> 
											
											<button id="volumeBtn" class="glyphicon glyphicon-volume-down"></button>
											<input id="volumeSlider" data-slider-id='volumeSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50"></input>
										</div>
										
										<div class="col-md-4">
											<input type="text" id="videoTime" size="8" class="form-control"></input>
											<button id="changeVideoPosition" class="glyphicon glyphicon-play-circle"></button>

											<button id="fullscreenBtn" class="glyphicon glyphicon-fullscreen"></button>
										</div>
										
										
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-9">
								<h2 id="roomName">
									Currently in room x
								</h2>
							</div>
							<div class="col-md-3">
								<button id="leaveRoom" class="btn btn-warning">
									Leave
								</button>
							</div>
						</div>

						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">
									Viewers
								</h3>
							</div>
							<div class="panel-body">
								<div class="columns">
									<ul class="nav" id="userList">
										
									</ul>         
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--	ROOM END	-->
		</div>
		<!--	BODY CONTAINER END	-->
		
		
		
		<!--	ERROR MODAL	-->
		<div class="modal" id="errorModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Error</h4>
					</div>
					<div class="modal-body">
						<p id="errorModalMessage">An user with the same username already exists. Please choose another nickname!</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!--	ERROR MODAL END	-->
		
		
		<!--	FOOTER
		<footer class="footer navbar-fixed-bottom">
			<div class="container">
				<span class="text-muted">
					Oh...yeah!
				</span>
			</div>
		</footer>
			FOOTER END	-->
		
	</body>
	
	<script>
		//GLOBAL FUNCS
		var JoinRoomFunction;	//cannot use a func in doc.ready from generated element
		
		function SetVolume(val){
			$('#videoPlayer').prop('volume', val / 100);
			$('#volumeSlider').prop('volume', val / 100);
		}
		var slider = $('#volumeSlider').slider({
				formatter: function(value) {
					return 'Volume: ' + value;
				}
		});
		
		slider.on('slide', function(control){
			SetVolume(control.value);
		});
		
		
		$(document).ready(function(){
			$('#videoPlayer').prop('controls', false);

			var socket = io();
			var username = '';
			var room = '/';
			var dataTable;	//global for datatable after creation for manipulating rows
			
			//tell the server the selected username and it'll decide what to do
			$('#setUsername').click(function(){
				socket.emit('registerUser',$('#usernameInput').val());
			});
			
			//server says it's ok so set some vars
			socket.on('registerOk', function(name){
				username = name;
				room = 'lobby';
			});
			
			//server tells you can go to lobby now...
			socket.on('goToLobby',function(){
				$('#userDetails').hide();
				$('#roomManagement').show();
				$('#adminMainControl').hide();
				socket.emit('getRoomList');
				var url = '';
				$('#videoUrl').attr('src',url);
				$('#videoPlayer')[0].load();
			});
			
			//tell the server that you want to create a new room.
			$('#createRoom').click(function(){
				socket.emit('createRoom',$('#createRoomInput').val());
			});
			
			//somebody created a room and the server tells the name of the room. append it to the datatable.
			socket.on('newRoomCreated', function(rn){
				dataTable.row.add([rn, '<button class="btn btn-primary" onClick="JoinRoomFunction(\'' + rn + '\')">Join</button>']).draw(false);
			});
			
			//server says you just joined a room
			socket.on('joinedRoom', function(roomName){
				
			});
			
			//server says that you as a user must go to a room
			socket.on('userGoToRoom', function(roomName){
				$('#userDetails').hide();
				$('#roomManagement').hide();
				$('#adminMainControl').show();
				
				$('#roomName').html('Joined room:' + roomName);
				room = roomName;
			});
			
			//server says that you as an admin of a room enter it
			socket.on('adminGoToRoom', function(roomName){
				$('#userDetails').hide();
				$('#roomManagement').hide();
				$('#adminMainControl').show();
				$('#adminPanel').show();
				
				$('#roomName').html('Room ' + roomName);
				room = roomName;
			});
			
			//server responds with the users in current room
			socket.on('connectedUsersList',function(data){
				var html = '';
				data.forEach(function(item){
					html+= '<li><a href="#">' + item + '</a></li>';
				});
				$('#userList').html(html);
			});
			
			//init the dataTable
			dataTable = $('#example').DataTable({
					data:null,
					columns:[
						{
							title: 'Room Name'
						},
						{
							title: 'Join'
						}
					],
					columnDefs: [ 
					{
						"targets": 1,
						"orderable": false
					}
					],
					language: {
						'url': '/js/jquery.dataTable.language.json'
					},
					lengthMenu: [
						[5, 10, 15], 
						['5', '10', '15']
					]
				});
			
			//once you are in the lobby the server sends you all available rooms so you can populate the datatable.
			socket.on('hereAreTheRooms', function(rooms){
				dataTable.clear().draw();
				rooms.forEach(function(item){
					dataTable.row.add([item, '<button class="btn btn-primary" onClick="JoinRoomFunction(\'' + item + '\')">Join</button>']).draw(false);
				});
			});
			
			//a room has been deleted from server so update the table with rooms.
			socket.on('removeRoom', function(rn){
				var indexes = dataTable.rows().eq( 0 ).filter( function (rowIdx) {
					return dataTable.cell( rowIdx, 0 ).data() === rn ? true : false;
				} );
				dataTable.rows( indexes ).remove().draw();
			});
			
			//tell the server that you want to join this room (global func)
			JoinRoomFunction = function (rn){
				socket.emit('joinRoom',rn);
			}
			
			//tell the server that you submited an yt link
			$('#submYtLink').click(function(){
				socket.emit('youtube', $('#ytLink').val());
				$('#videoDownloadProgressStatus').html('<div class="progress progress-striped active" style="text-align:center;">\
							<span>Preparing...<span>\
						</div>');
			});
			
			$('#fullscreenBtn').click(function(){
				var elem = $('#videoPlayer')[0];
				if (elem.requestFullscreen) {
					elem.requestFullscreen();
				} else if (elem.mozRequestFullScreen) {
					elem.mozRequestFullScreen();
				} else if (elem.webkitRequestFullscreen) {
					elem.webkitRequestFullscreen();
				}
			});
			
			//play for all 
			$('#playVid').click(function(){
				socket.emit('playVid');
			});
			
			//pause for all
			$('#pauseVid').click(function(){
				var position = $('#videoPlayer')[0].currentTime;
				socket.emit('pauseVid',position);
			});
			
			//go to position 
			$('#changeVideoPosition').click(function(){
				var minsecs = $('#videoTime').val().split(':');
				var time = parseInt(minsecs[0])*60 + parseInt(minsecs[1]);
				socket.emit('changeVideoPosition',time);
			});
			
			//server says to pause
			socket.on('pauseVid',function(time){
				$('#videoPlayer')[0].pause();
				$('#videoPlayer')[0].currentTime = time;
				console.log($('#videoPlayer')[0].currentTime);
			});
			
			//server says to play
			socket.on('playVid',function(){
				$('#videoPlayer')[0].play();
				console.log('plkayay');
			});
			
			//server finished preparing video and it's good to go
			socket.on('loadYTVideo', function(fileName){
				var url = '/vids/' + fileName + '.mp4';
				console.log(url);
				$('#videoUrl').attr('src',url);
				$('#videoPlayer')[0].load();
			});
			
			//event on video play to get the time from it. why not jquery? hmmm...
			var video = document.getElementById('videoPlayer');
			video.addEventListener('timeupdate', function() {
				var mins = 0;
				var secs = 0;
				var currentTime = Math.floor(this.currentTime);
				mins = Math.floor(currentTime / 60);
				secs = currentTime - 60*mins;
				$('#videoTime').val(mins + ':' + secs);
			});
			
			//the server got another requeste for playing so clear the existing residue
			socket.on('prepareForNewVideo', function(){
				var url = '';
				$('#videoUrl').attr('src',url);
				$('#videoPlayer')[0].load();
			});
			
			//server tells you the progress for the video
			socket.on('videoDownloadProgress', function(percent){
				//$('#videoDownloadProgressText').html(percent + '% done');
				$('#videoDownloadProgressStatus').html('<div class="progress progress-striped active">\
							<div class="progress-bar" style="width: ' +  percent + '%">' + percent + '% done</div>\
						</div>');
				if(percent == 100){
					setTimeout(function(){
						$('#videoDownloadProgressStatus').html('');
					},3000);
				}
			});
			
			//some error occured...show the modal!!
			socket.on('someError', function(data){
				$('#errorModalMessage').html(data);
				$('#errorModal').modal('show');
			});
			
			//notyfy the server that you want to leave the room so it may do stuff.
			$('#leaveRoom').click(function(){
				socket.emit('leaveRoom', room);
			});
			
			//server wants to get the video details for a new user who just connected
			socket.on('getVideoDetailsForUserWhoJoined', function(data){
				var details = {};
				details.src = $('#videoUrl').attr('src');
				details.time = $('#videoPlayer')[0].currentTime;
				details.forUser = data;
				details.videoPaused = $('#videoPlayer')[0].paused;
				socket.emit('videoDetailsForUser',details);
			});
			
			//server sends the video details for the room you just joined...so get on with them
			socket.on('joinedUserSync', function(details){
				$('#videoUrl').attr('src', details.src);
				$('#videoPlayer')[0].load();
				$('#videoPlayer')[0].currentTime = details.time;
				if (details.videoPaused == true) {
					$('#videoPlayer')[0].pause(); 
					socket.emit('pauseVid', details.time);
				}
				else {
					socket.emit('pauseVid', details.time);
					socket.emit('playVid');
				} 
			});
			
			//the time
			setInterval(function(){ 
				$('#title2').html((new Date()).toLocaleTimeString());
				
			}, 1000);
		});
	</script>
	
	<script src="/js/custom.js"></script>
</html>