.columns
{   
	-moz-column-width: 11.5em; /* Firefox */
	-webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
	column-width: 11.5em;
}
/*remove standard list and bullet formatting from ul*/
.columns ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-height: 200px;
	overflow-y:scroll;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child
{
	margin-top:0px;
}
video::-webkit-media-controls {
  display: none;
}

#userList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
#userList li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
#userList li:last-child {
  border: none;
}
 
#userList li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
#userList li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}